<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Canceled</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 50px;">

  <div style="background:white;max-width:500px;margin:auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:10px;">
    <table role="presentation" style="width: 100%; border-collapse: collapse;">
        <tr>
            <td style="background-color: #f8f8f8; padding: 20px; text-align: center;">
                <img src="https://spadesepices.com/logo-1.png" alt="Spa Des Epices" style="max-width: 250px;">
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #333;">Appointment Canceled</h2>
                <p style="font-size: 16px; line-height: 1.6;">Dear {{fullName}},</p>
                <p style="font-size: 16px; line-height: 1.6;">We regret to inform you that your appointment has been canceled.</p>
                <p style="font-size: 16px; line-height: 1.6;">If you have any further questions or would like to reschedule, please feel free to contact us.</p>
                <ul style="font-size: 16px; line-height: 1.6;">
                    <li><strong>Phone :</strong> +212524384013</li>
                    <li><strong>Email:</strong> contact@spadesepices.com</li>
                    <li><strong>WhatsApp:</strong> +212616119673</li>
                </ul>
                <p style="font-size: 16px; line-height: 1.6;">Thank you for choosing our services. We look forward to serving you!</p>
                <br>
                <p style="font-size: 16px; line-height: 1.6;">Best Regards,<br>Spa Des Epices</p>
            </td>
        </tr>
    </table>
  </div>

</body>
</html>
